/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/assets/assetstoretools*
/assets/facebook*
/assets/google2u*
/assets/plugins/android/*
/assets/plugins/ios/*
/assets/[Pp]lugins/Editor/JetBrains*
/assets/[Pp]lugins/Editor/Resharper*
/ExportedObj/
.plastic/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svntmp
*.dwlt
*.swp
*.swo
*.tmp
*.bak
*.orig